body {
    font-family: sans-serif;
}

h2, h3 {
    color: #00a2c6;
}

footer {
    padding: 5px;
    color: white;
    background-color: #00a2c6;
}

span {
    color: white;
    font-weight: bold;
}

.city {
    font-weight: bold;
}
li {
    margin-top: 10px;
}
