@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;515;600;700&display=swap');

body {
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    padding: 0;
}
main {
    padding: 20px;
}

h1 {
    font-size: 2rem;
    text-transform: uppercase;
    text-shadow: 0.5px 0.5px 0px #00a2c6; /*text-shadow: buat bayangan di teks */
}

h2, h3 {
    color: #00a2c6;
    font-size: 1,5rem;
    text-transform: uppercase; /*text-transform: ngatur capslock tidaknya teks*/
}
.featured-image {
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    object-position: center;
}
/* p {
    line-height: 1.5rem;   //*line-height: mengatur jarak baris antar paragraf */
    /*text-align: left; //text align: mengatur rata kiri, kanan, tengah paragraf kyak di word*/
    /*text-decoration: none; //text decoration: biasanya u ngilangin efek underline pada link } */
/* p#first {
    text-indent: 2em; //*text-indent: kayak TAb, spasi menjorok kedalam awal paragram} */
    /* nav a {
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
} */
 
li {
    margin-left: 5px;
    display: inline;
    text-decoration: none;
} 

nav {
    background-color: #00a2c6;
    padding: 5px;
}

nav li {
    display: inline;
    list-style-type: none;
    margin-right: 20px;
    text-decoration: none;
}

nav a {
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    color: white;
}

footer {
    padding: 5px;
    color: white;
    background-color: #00a2c6;
    text-align: center;
    font-weight: bold;
}

span {
    color: white;
    font-weight: bold;
}

.city {
    font-weight: bold;
}
.profile header {
    text-align: center;
}
.profile img {
    width: 200px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    padding: 25px;
    margin: 10px;

}

.jumbotron {
    font-size: 20px;
    padding: 60px;
    background-color: #00c8eb;
    text-align: center;
    color: white;
    text-decoration: none;
}